# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-store

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE / Editor configuration
.idea/
.vscode/
*.swp
*.swo

# Large archive files
diego.zip
*.zip
